/* Om te debuggen: */
.debug {
    -fx-border-width: 2px;
    -fx-border-color: red;
}

/* Structuur van het hoofdpaneel
 * =============================
 */

MainPanel { /* bevat #left en #right */
    -fx-pref-width: 1280px;
    -fx-background-image: url("images/Background.jpg");
    -fx-background-size: cover ;
    -fx-alignment: top-center;
}

#left { /* bevat BaseCards LogPanel */
    -fx-padding: 8px;
}

#right { /* bevat Kingdom, PlayerPanel */
    -fx-fill-width: true ;
    -fx-alignment: center;
    -fx-padding: 8px;
    -fx-spacing: 8px;
}

Kingdom, BaseCards { /* bevatten HalfCards */
    -fx-hgap: 8px;
    -fx-vgap: 16px;
    -fx-background-color: transparent;
}

PlayerPanel { /* Bevat #center UserArea */
    -fx-fill-width: true ;
    -fx-alignment: center;
}

UserArea { /* bevat Deck Hand DiscardPile */
    -fx-fill-height: false;
    -fx-alignment: top-center;
}

#center { /* bevat PlayArea UIPanel */
    -fx-fill-height: false;
    -fx-alignment: center;
    -fx-spacing: 8px;
}

Deck {
    -fx-background-color: transparent;
}

Hand, PlayArea {
    -fx-padding: 8px;
}

Hand {
    -fx-pref-width: 800px;
}

UIPanel { /* bevat StatisticsPanel Label Button */
    -fx-background-color: black;
    -fx-font-size: 24px;
    -fx-fill-width: true;
    -fx-alignment: center;
    -fx-padding: 8px;
}

UIPanel.wait {
    -fx-background-color: lightgrey;
}

UIPanel.wait Label {
    -fx-text-fill: black;
}

UIPanel.warning {
    -fx-background-color: darkorange;
}

UIPanel.game-over {
    -fx-background-color: darkred;
}

UIPanel Button {
    -fx-base: black;
    -fx-font-size: 18px;
    /* -fx-max-width: 1024px; Zo breed mogelijk */
    -fx-border-color: white;
}

UIPanel.game-over Button {
    -fx-base: darkred;
}

UIPanel.warning Button {
    -fx-base: darkorange;
    -fx-text-fill: white;
}

UIPanel > Label {
    -fx-pref-width: 200px;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-pref-height: 24px;
    -fx-padding: 8px;
}

StatisticsPanel {
    -fx-hgap: 10px;
    -fx-padding: 10px;
}

StatisticsPanel Label {
    -fx-pref-width: 100px;
    -fx-text-fill: white;
}

StatisticsPanel Label.abc {
    -fx-pref-width: 40px;
    -fx-alignment: baseline-right;
    -fx-text-fill: white;
}

LogPanel {
    -fx-padding: 16px 8px;
}


LogPanel ListView {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 4px;
}

LogPanel ListView .cell {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

LogPanel ListView .cell ImageView {
    -fx-padding: 0px 2px;
}

/* Kaarten
 * =======
 */

.victory {
    -fx-background-color: #7acb7a;
}

.action {
    -fx-background-color: #eeeedd;
}

.reaction {
    -fx-background-color: #c8e2ea;
}

.treasure {
    -fx-background-color: gold;
}

.curse {
    -fx-background-color: #f6c5f6;
}

Label.header {
    -fx-alignment: center;
    -fx-font-weight: bold;
    /* TODO Google font with small caps? */
}

Label {
    -fx-font-family: serif;
}

Kingdom Label.header {
    -fx-pref-height: 28px;
    -fx-font-size: 14px;
}

BaseCards Label.header {
    -fx-pref-height: 20px;
    -fx-font-size: 10px;
}

Label.footer {
    -fx-alignment: center;
    -fx-pref-height: 28px;
    -fx-font-size: 12px;
    /* TODO Google font with small caps? */
}

Kingdom Label.footer {
    -fx-pref-height: 28px;
    -fx-font-size: 12px;
}

BaseCards Label.footer {
    -fx-pref-height: 20px;
    -fx-font-size: 8px;
}

Label.price {
    -fx-opacity: 1.0;

    -fx-alignment: center;

    -fx-background-color: #6b490c, #f5c56d;
    -fx-background-insets: 1 -1 -1 1, 0;

    -fx-font-weight: bold;
}

HalfCard Label:disabled {
    -fx-opacity:1.0;
}

Label.count:disabled {
    -fx-background-color: darkgrey;
}

Label.price:disabled {
    -fx-background-color: lightgrey;
}

Label.footer:disabled, Label.header:disabled {
    -fx-background-color: #eee;
}

Kingdom Label.price {
    -fx-pref-height: 24px;
    -fx-pref-width: 24px;
    -fx-background-radius: 12px;
    -fx-font-size: 18px;
}

BaseCards Label.price {
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-background-radius: 9px;
    -fx-font-size: 12px;
}

Label.count {
    -fx-opacity: 1.0;

    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
}

Kingdom Label.count {
    -fx-pref-height: 20px;
    -fx-pref-width: 30px;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;
}

Deck Label.count, BaseCards Label.count {
    -fx-pref-height: 17px;
    -fx-pref-width: 23px;
    -fx-background-radius: 4px;
    -fx-font-size: 12px;
}

