/* CSS voor de dialoog die getoond wordt als het spel voorbij is */


.debug {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.root {
    -fx-background-color: darkred;
    -fx-min-width: 300px;
    -fx-min-height: 160px;

    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;

    -fx-border-color: white;
    -fx-border-width: 4px;
}

Label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

Button {
    -fx-base: darkred;
    -fx-border-color: white;
    -fx-text-fill: white;
}